body {
  background-image: url('./picture/thumbnail-01.jpg');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}